@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

/* Header */

.navContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    background-color: black;
    position: fixed;
    top: 0;
    z-index: 10;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

nav ul li {
    list-style: none;
    font-size: 20px;
    width: 111px;
    text-align: center;
}

nav ul li:hover {
    cursor: pointer;
    background: none;
    font-size: 22px;
    transition: 0.4s ease;
}

nav ul li a {
    text-decoration: none;
    color: #007BFF;
}

section {
    background: url(Assets/dark-black-background-design.avif);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: black;
    width: 100%;
    height: 100vh;
    scroll-margin-top: 60px;
}

.about {
    display: inline-flex;
    align-items: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: black;
}

.about img {
    height: 60%;
    border-radius: 50%;
}

.holder {
    display: inline-flex;
    gap: 200px;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70%;
}

.my-info {
    width: 30%;
}

span {
    color: #007BFF;
    font-size: 2rem;
}

h3 {
    color: white;
}

.my-info p {
    color: white;
    font-size: 18px;
    margin-top: 10px;
    letter-spacing: 1.25px;
    word-spacing: 8px;
}

/* Section Styling */
#experiance-section {
    background: black;
    width: 100%;
    height: 100vh;
    opacity: .8;
    padding: 20px 0;
    scroll-margin-top: 60px;
}

.titles {
    text-align: center;
    color: #ffffff;
    font-size: 2rem;
    position: relative;
    margin-bottom: 30px;
    width: 100%;
}

/* Experience Container */
.experience {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
}

/* Individual Experience Item */
.experience-item {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 95px auto 1fr 1fr;
    gap: 10px;
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 15px;
    width: 250px;
    transition: transform 0.2s ease-in-out;
}

.experience-item:hover {
    transform: scale(1.05);
}

.exp-title {
    background: rgba(0, 0, 0, .3);
    color: #333;
    text-align: center;
    position: relative;
    width: 100%;
    height: 230px;
    display: flex;
    align-items: center;
}

.exp-title h2 {
    font-size: 1.5em;
    padding: 12px;
}

.exp-duration {
    text-align: center;
    position: relative;
}
/* Title and Date */
.exp-duration h3 {
    font-size: 1.2em;
    color: #0073e6;
}

.exp-description {
    text-align: center;
    position: relative;
}

.exp-description p {
    color: #555;
}

/* Image Styling */
.exp-image {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 150px;
    bottom: 0;
    border-radius: 8px;
}

.exp-image img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    object-fit: cover;
    /* Ensures images don't stretch but fit inside the container */
}

/* Adjusting the layout if image is too large */
.experience-item .experience-img {
    height: 150px;
    /* You can adjust this height according to your design */
    object-fit: contain;
    /* Ensures images don't stretch but fit inside the container */
}

.hold {
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 20px;
    align-items: start;
    justify-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
}

.codeHolder,
.softHolder {
    display: grid;
    gap: 30px;
    grid-template-rows: auto 1fr;
    /* Title at the top */
    width: 100%;
    max-width: 1200px;
    align-items: start;
    justify-items: center;
}

.section-title {
    font-family: 'Poppins', sans-serif;
    color: #007BFF;
    font-size: 2rem;
    text-align: center;
    width: 100%;
    padding: 10px 0;
}

.skills-container {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    width: 100%;
}

.parent-skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.skill {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
    background: conic-gradient(#007BFF 10% 0%, #212428 0% 0%);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
}

.skill:hover {
    transform: scale(1.1);
}

.progress {
    width: 90%;
    height: 90%;
    border-radius: 50%;
    background: linear-gradient(280deg, #1e2024, #23272b);
    display: flex;
    align-items: center;
    justify-content: center;
}

.progress-number {
    font-family: 'Poppins', sans-serif;
    color: #007BFF;
    font-size: 1.5rem;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.title {
    font-family: 'Poppins', sans-serif;
    color: #007BFF;
    font-size: 1.2rem;
    margin-top: 10px;
    text-transform: capitalize;
}

.projects {
    background-color: black;
    width: 100%;
    height: 100%;
    opacity: .8;
    padding: 20px 0;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: system-ui;
    background: #3d76d9;
}

.visuallyhidden {
    position: absolute;
    z-index: -1;
    right: 0;
    opacity: 0;

}

h1 {
    color: white;
    text-align: center;
    margin-top: 1em;
}

.card-container{
    overflow: hidden;
    padding: 20px;
    margin-top: 2em;
    background: rgba(0, 0, 0, .1)
}

.card-carousel {
    --card-width: 80%;
    --card-max-width: 280px;
    --card-height: 350px;
    --carousel-min-width: 600px;
    z-index: 1;
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: var(--card-height);
    min-width: var(--carousel-min-width);
    transition: filter .3s ease;
}

.card-carousel.smooth-return {
    transition: all .2s ease;
}

.card-carousel .card {
    background: whitesmoke;
    width: var(--card-width);
    max-width: var(--card-max-width);
    text-align: center;
    padding: 1em;
    min-width: 250px;
    height: var(--card-height);
    position: absolute;
    margin: 0 auto;
    color: rgba(0, 0, 0, .5);
    transition: inherit;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
    border-radius: 1em;
    filter: brightness(.9);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card.highlight {
    filter: brightness(1)
}

.image-container {
    width: 8em;
    height: 8em;
    position: relative;
    background-size: cover;
    margin-bottom: 2em;
    border-radius: 100%;
    padding: 1em;
    -webkit-box-shadow: inset 0px 0px 17px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0px 0px 17px 0px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0px 0px 17px 0px rgba(0, 0, 0, 0.3);

}

.image-container img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.image-container::after {
    content: "";
    display: block;
    width: 120%;
    height: 120%;
    border: solid 3px rgba(0, 0, 0, .1);
    border-radius: 100%;
    position: absolute;
    top: calc(-10% - 3px);
    left: calc(-10% - 3px);
}

h2 {
    text-align: center;
    color: white;
    border-radius: .2em;
    display: inline-block;
    width: 100%;
}

h2 a {
    color: #f5b916
}

.container {
    display: grid;
    gap: 70px;
    grid-template-columns: auto auto auto auto;
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 50px;
    height: max-content;
    align-items: center;
    justify-content: center;
}

.project-cell {
    display: flex;
    flex-wrap: wrap;
    justify-self: start;
    justify-content: center;
    background-color: black;
    border-radius: 40px;
    height: 100%;
}

.project-cell img {
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    height: 70%;
    width: 100%;
    object-fit: cover;
}

.project-cell p {
    color: white;
    font-size: fit-content;
    padding: 10px;
    text-align: center;
}

.project-cell p a {
    color: #007BFF;
    text-decoration: none;
}

.contact-me {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: black;
    height: 85vh;
    padding: 20px 0;
}

.form-holder {
    display: flex;
    align-items: center;
    justify-content: center;
}

#contact-form {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

#contact-form h2 {
    margin-bottom: 15px;
    font-size: 24px;
    color: #333;
}

#contact-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

#contact-form input,
#contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
}

#contact-form button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

#contact-form button:hover {
    background-color: #0056b3;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 10vh;
    width: 100%;
    padding: 10px;
    position: absolute;
    z-index: 10;
    background: transparent;
    background-color: black;
    color: white;
}

/* Responsive */

/* Responsive Header */


@media screen and (max-width: 430px) {
    .navContainer {
        height: 40px;
        justify-content: left;
    }
    nav ul {
        width: 100%;
        gap: 5px;
    }
 
    nav ul li {
        font-size: 12px;
        width: 85px;
    }
}

@media screen and (min-width: 430px) and (max-width: 530px) {
    .navContainer {
        height: 45px;
        justify-content: left;
    }
    nav ul {
        width: 100%;
        gap: 10px;
    }
 
    nav ul li {
        font-size: 12px;
        width: 85px;
    }
}

@media screen and (min-width: 530px) and (max-width: 768px) {
    .navContainer {
        height: 50px;
        justify-content: center;
    }

    nav ul {
        width: 100%;
        gap: 10px;
    }

    nav ul li {
        font-size: 15px;
        width: 100px;
    }
}

/* Responsive Home */

@media screen and (max-width: 430px) {
    section {
        height: 100vh;
    }

    .holder {
        flex-direction: column;
        gap: 10px;
    }

    .my-info {
        width: 100%;
        text-align: center;
    }

    .my-info span {
        font-size: 1.5rem;
    }

    .my-info p {
        font-size: 14px;
    }

    .about img {
        height: 45%;
    }
}

/* Responsive Expiriance */

@media screen and (max-width: 430px) {
    .experience {
        flex-direction: column;
        gap: 10px;
        justify-content:flex-start;
        align-items: center;
        width: 100%;
        height: 100%;
    }
    
    .experience-item {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 25%; 
    }

    .exp-title {
        display: none;
    }

    .exp-duration h3 {
        font-size: 1em;
    }

    .exp-description p {
        font-size: 0.75em;
    }

    .exp-image {
        width: 100%;
        height: 65%;
}
}

@media screen and (min-width: 430px) and (max-width: 768px) {
    .experience {
        flex-wrap: nowrap;
        gap: 20px;
        width: 100%;
        height: 100%;
        padding: 20px;
    }
    
    .experience-item {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 75%; 
    }

    .exp-title h2 {
        font-size: 1.5em;
        text-align: center;
        justify-content: center;
        width: 100%;
    }

    .exp-duration h3 {
        font-size: 1em;
    }

    .exp-description p {
        font-size: 0.9em;
    }

    .exp-image {
        width: 70%;
        height: 45%;
    }
}

/* Responsive Skill */

@media (max-width: 768px) {
    .section-title {
        font-size: 1.5rem;
    }

    .skill {
        width: 100px;
        height: 100px;
    }

    .progress-number {
        font-size: 1.2rem;
    }

    .title {
        font-size: 1rem;
    }
}

@media screen and (max-width: 640px) {
    .card-carousel {
        margin-left: calc((100vw - var(--carousel-min-width) - 40px) / 2)
    }
}

